Repository banzzokee/banzzokee-back, pull requests merged in 2024-02, with the labels that each got.

#87 feature: produce and consume shelter followed event
  src/main/java/homes/banzzokee/consumer/fcm/FcmTokenAndTopicManagementConsumer.java
  src/main/java/homes/banzzokee/consumer/fcm/FcmTokenRegisteredEventListener.java
  src/main/java/homes/banzzokee/domain/notification/dao/FcmSubscriptionRepository.java
  src/main/java/homes/banzzokee/domain/notification/dao/FcmTokenRepository.java
  src/main/java/homes/banzzokee/domain/notification/service/NotificationService.java
  src/main/java/homes/banzzokee/domain/user/service/UserService.java
  src/main/java/homes/banzzokee/event/FcmTokenRegisteredEvent.java
  src/main/java/homes/banzzokee/event/FcmTopicStatusChangeEvent.java
  src/main/java/homes/banzzokee/event/dto/FcmTopicStatusDto.java
  src/main/java/homes/banzzokee/event/type/FcmTopicAction.java
  src/main/java/homes/banzzokee/event/type/FcmTopicCategory.java
  src/main/java/homes/banzzokee/global/config/rabbitmq/Queue.java
  src/main/java/homes/banzzokee/global/config/rabbitmq/RabbitMqConfig.java
  src/main/java/homes/banzzokee/infra/rabbitmq/event/BaseMessage.java
  src/main/java/homes/banzzokee/infra/rabbitmq/event/handler/MessageHandler.java
  src/main/java/homes/banzzokee/infra/rabbitmq/service/RabbitMqMessageProducer.java
  src/test/java/homes/banzzokee/consumer/fcm/FcmTokenAndTopicManagementConsumerTest.java
  src/test/java/homes/banzzokee/consumer/fcm/FcmTokenRegisteredEventListenerTest.java
  src/test/java/homes/banzzokee/domain/notification/service/NotificationServiceTest.java
  src/test/java/homes/banzzokee/domain/user/service/UserServiceTest.java
Labels: :recycle: refactor, :sparkles: feat, :white_check_mark: test, backend

#83 feature: produce and consume fcm token registered event
  build.gradle
  src/main/java/homes/banzzokee/consumer/config/ConsumerConfig.java
  src/main/java/homes/banzzokee/consumer/error/CustomErrorHandler.java
  src/main/java/homes/banzzokee/consumer/error/exception/BusinessException.java
  src/main/java/homes/banzzokee/consumer/error/exception/TokenNotFoundException.java
  src/main/java/homes/banzzokee/consumer/fcm/FcmTokenAndTopicManagementConsumer.java
  src/main/java/homes/banzzokee/domain/notification/dao/FcmSubscriptionRepository.java
  src/main/java/homes/banzzokee/domain/notification/dao/FcmTokenRepository.java
  src/main/java/homes/banzzokee/domain/notification/dto/FcmTokenDto.java
  src/main/java/homes/banzzokee/domain/notification/entity/FcmSubscription.java
  src/main/java/homes/banzzokee/domain/notification/service/NotificationService.java
  src/main/java/homes/banzzokee/domain/shelter/dao/ShelterRepository.java
  src/main/java/homes/banzzokee/domain/shelter/dao/custom/CustomShelterRepository.java
  src/main/java/homes/banzzokee/domain/shelter/dao/custom/impl/CustomShelterRepositoryImpl.java
  src/main/java/homes/banzzokee/domain/user/service/UserService.java
  src/main/java/homes/banzzokee/event/FcmTokenRegisteredEvent.java
  src/main/java/homes/banzzokee/event/FcmTopicStatusChangeEvent.java
  src/main/java/homes/banzzokee/event/dto/FcmTopicStatusDto.java
  src/main/java/homes/banzzokee/event/type/FcmTopicAction.java
  src/main/java/homes/banzzokee/event/type/FcmTopicCategory.java
  src/main/java/homes/banzzokee/global/config/firebase/FirebaseConfig.java
  src/main/java/homes/banzzokee/global/config/rabbitmq/Queue.java
  src/main/java/homes/banzzokee/global/config/rabbitmq/RabbitMqConfig.java
  src/main/java/homes/banzzokee/infra/firebase/FcmService.java
  src/main/java/homes/banzzokee/infra/firebase/impl/FcmServiceImpl.java
  src/main/java/homes/banzzokee/infra/rabbitmq/event/BaseMessage.java
  src/main/java/homes/banzzokee/infra/rabbitmq/event/handler/MessageHandler.java
  src/main/java/homes/banzzokee/infra/rabbitmq/service/RabbitMqMessageProducer.java
  src/test/java/homes/banzzokee/consumer/fcm/FcmTokenAndTopicManagementConsumerTest.java
  src/test/java/homes/banzzokee/domain/notification/service/NotificationServiceTest.java
  src/test/java/homes/banzzokee/domain/user/service/UserServiceTest.java
Labels: :sparkles: feat, :white_check_mark: test, backend

#78 chore: rabbitmq 설정
  build.gradle
  docker/rabbitmq/rabbitmq-install.sh
  src/main/java/homes/banzzokee/consumer/config/ConsumerConfig.java
  src/main/java/homes/banzzokee/consumer/error/CustomErrorHandler.java
  src/main/java/homes/banzzokee/consumer/error/exception/BusinessException.java
  src/main/java/homes/banzzokee/consumer/error/exception/TokenNotFoundException.java
  src/main/java/homes/banzzokee/consumer/fcm/FcmTokenAndTopicManagementConsumer.java
  src/main/java/homes/banzzokee/domain/notification/dao/FcmSubscriptionRepository.java
  src/main/java/homes/banzzokee/domain/notification/dao/FcmTokenRepository.java
  src/main/java/homes/banzzokee/domain/notification/dto/FcmTokenDto.java
  src/main/java/homes/banzzokee/domain/notification/entity/FcmSubscription.java
  src/main/java/homes/banzzokee/domain/notification/service/NotificationService.java
  src/main/java/homes/banzzokee/domain/shelter/dao/ShelterRepository.java
  src/main/java/homes/banzzokee/domain/shelter/dao/custom/CustomShelterRepository.java
  src/main/java/homes/banzzokee/domain/shelter/dao/custom/impl/CustomShelterRepositoryImpl.java
  src/main/java/homes/banzzokee/domain/user/service/UserService.java
  src/main/java/homes/banzzokee/event/FcmTokenRegisteredEvent.java
  src/main/java/homes/banzzokee/event/FcmTopicStatusChangeEvent.java
  src/main/java/homes/banzzokee/event/dto/FcmTopicStatusDto.java
  src/main/java/homes/banzzokee/event/type/FcmTopicAction.java
  src/main/java/homes/banzzokee/event/type/FcmTopicCategory.java
  src/main/java/homes/banzzokee/global/config/firebase/FirebaseConfig.java
  src/main/java/homes/banzzokee/global/config/rabbitmq/Queue.java
  src/main/java/homes/banzzokee/global/config/rabbitmq/RabbitMqConfig.java
  src/main/java/homes/banzzokee/infra/firebase/FcmService.java
  src/main/java/homes/banzzokee/infra/firebase/impl/FcmServiceImpl.java
  src/main/java/homes/banzzokee/infra/rabbitmq/event/BaseMessage.java
  src/main/java/homes/banzzokee/infra/rabbitmq/event/handler/MessageHandler.java
  src/main/java/homes/banzzokee/infra/rabbitmq/service/RabbitMqMessageProducer.java
  src/main/resources/application-rabbitmq.yml
  src/test/java/homes/banzzokee/consumer/fcm/FcmTokenAndTopicManagementConsumerTest.java
  src/test/java/homes/banzzokee/domain/notification/service/NotificationServiceTest.java
  src/test/java/homes/banzzokee/domain/room/service/ChatRoomServiceTest.java
  src/test/java/homes/banzzokee/domain/user/service/UserServiceTest.java
Labels: :bricks: infra, :wrench: chore, backend

#80 feature: add getChatRoomList api
  src/main/java/homes/banzzokee/domain/adoption/exception/AdoptionNotFoundException.java
  src/main/java/homes/banzzokee/domain/auth/service/AuthService.java
  src/main/java/homes/banzzokee/domain/chat/controller/ChatMessageController.java
  src/main/java/homes/banzzokee/domain/chat/controller/MessageController.java
  src/main/java/homes/banzzokee/domain/chat/dto/ChatSendDto.java
  src/main/java/homes/banzzokee/domain/chat/service/ChatMessageService.java
  src/main/java/homes/banzzokee/domain/room/controller/ChatRoomController.java
  src/main/java/homes/banzzokee/domain/room/dao/ChatRoomRepository.java
  src/main/java/homes/banzzokee/domain/room/dto/ChatAdoptionDto.java
  src/main/java/homes/banzzokee/domain/room/dto/ChatRoomDto.java
  src/main/java/homes/banzzokee/domain/room/dto/RoomCreateResponse.java
  src/main/java/homes/banzzokee/domain/room/entity/ChatRoom.java
  src/main/java/homes/banzzokee/domain/room/exception/AdoptionWriterException.java
  src/main/java/homes/banzzokee/domain/room/exception/AlreadyExistsChatRoomException.java
  src/main/java/homes/banzzokee/domain/room/exception/RoomNotFoundException.java
  src/main/java/homes/banzzokee/domain/room/exception/SocketUserNotFoundException.java
  src/main/java/homes/banzzokee/domain/room/service/ChatRoomService.java
  src/main/java/homes/banzzokee/domain/shelter/entity/Shelter.java
  src/main/java/homes/banzzokee/domain/shelter/service/ShelterService.java
  src/main/java/homes/banzzokee/domain/type/MessageType.java
  src/main/java/homes/banzzokee/domain/type/Role.java
  src/main/java/homes/banzzokee/domain/user/dao/UserRepository.java
  src/main/java/homes/banzzokee/domain/user/entity/User.java
  src/main/java/homes/banzzokee/global/error/ErrorCode.java
  src/main/java/homes/banzzokee/global/security/config/SecurityConfig.java
  src/test/java/homes/banzzokee/domain/auth/service/AuthServiceTest.java
  src/test/java/homes/banzzokee/domain/room/controller/ChatRoomControllerTest.java
  src/test/java/homes/banzzokee/domain/room/service/ChatRoomServiceTest.java
  src/test/java/homes/banzzokee/domain/shelter/service/ShelterServiceTest.java
  src/test/java/homes/banzzokee/domain/user/service/UserServiceTest.java
Labels: :sparkles: feat, :white_check_mark: test, backend

#90 feature: get adoption
  src/main/java/homes/banzzokee/domain/adoption/controller/AdoptionController.java
  src/main/java/homes/banzzokee/domain/adoption/dto/AdoptionResponse.java
  src/main/java/homes/banzzokee/domain/adoption/entity/Adoption.java
  src/main/java/homes/banzzokee/domain/adoption/exception/AdoptionIsDeletedException.java
  src/main/java/homes/banzzokee/domain/adoption/service/AdoptionService.java
  src/main/java/homes/banzzokee/domain/shelter/service/ShelterService.java
  src/main/java/homes/banzzokee/global/error/ErrorCode.java
  src/main/java/homes/banzzokee/global/validator/FileDuplicateValidator.java
  src/main/java/homes/banzzokee/infra/fileupload/service/FileUploadService.java
  src/main/resources/application-jpa.yml
  src/test/java/homes/banzzokee/domain/adoption/controller/AdoptionControllerTest.java
  src/test/java/homes/banzzokee/domain/adoption/service/AdoptionServiceTest.java
  src/test/resources/images/banzzokee9.png
Labels: :sparkles: feat, :white_check_mark: test, backend

#104 feature: create bookmark
  src/main/java/homes/banzzokee/domain/adoption/controller/AdoptionController.java
  src/main/java/homes/banzzokee/domain/bookmark/controller/BookmarkController.java
  src/main/java/homes/banzzokee/domain/bookmark/dao/BookmarkRepository.java
  src/main/java/homes/banzzokee/domain/bookmark/dto/BookmarkRegisterRequest.java
  src/main/java/homes/banzzokee/domain/bookmark/entity/Bookmark.java
  src/main/java/homes/banzzokee/domain/bookmark/exception/BookmarkAlreadyExistsException.java
  src/main/java/homes/banzzokee/domain/bookmark/service/BookmarkService.java
  src/main/java/homes/banzzokee/global/config/mail/MailConfig.java
  src/main/java/homes/banzzokee/global/error/AccessDeniedHandlerImpl.java
  src/main/java/homes/banzzokee/global/error/ErrorCode.java
  src/main/java/homes/banzzokee/global/security/UserDetailsImpl.java
  src/main/java/homes/banzzokee/global/security/UserDetailsServiceImpl.java
  src/main/java/homes/banzzokee/global/security/config/SecurityConfig.java
  src/main/java/homes/banzzokee/global/security/jwt/JwtAuthenticationFilter.java
  src/main/resources/application-elasticsearch.yml
  src/main/resources/application-smtp.yml
  src/test/java/homes/banzzokee/domain/adoption/controller/AdoptionControllerTest.java
  src/test/java/homes/banzzokee/domain/bookmark/controller/BookmarkControllerTest.java
  src/test/java/homes/banzzokee/domain/bookmark/service/BookmarkServiceTest.java
  src/test/java/homes/banzzokee/global/security/WithMockCustomUser.java
  src/test/java/homes/banzzokee/global/security/WithMockCustomUserSecurityContextFactory.java
  src/test/java/homes/banzzokee/global/util/MockDataUtil.java
Labels: :sparkles: feat, :white_check_mark: test, backend

#109 feature: delete bookmark
  src/main/java/homes/banzzokee/domain/adoption/service/AdoptionService.java
  src/main/java/homes/banzzokee/domain/auth/service/AuthService.java
  src/main/java/homes/banzzokee/domain/bookmark/controller/BookmarkController.java
  src/main/java/homes/banzzokee/domain/bookmark/exception/BookmarkNotFoundException.java
  src/main/java/homes/banzzokee/domain/bookmark/service/BookmarkService.java
  src/main/java/homes/banzzokee/global/error/ErrorCode.java
  src/main/java/homes/banzzokee/global/security/exception/SocialLoginAuthorizedException.java
  src/test/java/homes/banzzokee/domain/bookmark/controller/BookmarkControllerTest.java
  src/test/java/homes/banzzokee/domain/bookmark/service/BookmarkServiceTest.java
  src/test/java/homes/banzzokee/domain/user/service/UserServiceTest.java
Labels: :sparkles: feat, :white_check_mark: test, backend

#100 feature: adoption change status
  src/main/java/homes/banzzokee/domain/adoption/controller/AdoptionController.java
  src/main/java/homes/banzzokee/domain/adoption/dto/AdoptionStatusChangeRequest.java
  src/main/java/homes/banzzokee/domain/adoption/elasticsearch/dao/AdoptionSearchRepository.java
  src/main/java/homes/banzzokee/domain/adoption/elasticsearch/document/AdoptionDocument.java
  src/main/java/homes/banzzokee/domain/adoption/entity/Adoption.java
  src/main/java/homes/banzzokee/domain/adoption/exception/AdoptionDocumentNotFoundException.java
  src/main/java/homes/banzzokee/domain/adoption/exception/AlreadyFinishedAdoptionException.java
  src/main/java/homes/banzzokee/domain/adoption/exception/AssignedUserMustBeNullException.java
  src/main/java/homes/banzzokee/domain/adoption/exception/CurrentStatusIsSameToChangeExcetion.java
  src/main/java/homes/banzzokee/domain/adoption/exception/MustInputAssignedUserInfoException.java
  src/main/java/homes/banzzokee/domain/adoption/service/AdoptionService.java
  src/main/java/homes/banzzokee/domain/shelter/dto/ShelterDto.java
  src/main/java/homes/banzzokee/domain/type/AdoptionStatus.java
  src/main/java/homes/banzzokee/domain/user/dto/UserProfileDto.java
  src/main/java/homes/banzzokee/global/error/ErrorCode.java
  src/test/java/homes/banzzokee/domain/adoption/controller/AdoptionControllerTest.java
  src/test/java/homes/banzzokee/domain/adoption/service/AdoptionServiceTest.java
Labels: :sparkles: feat, :white_check_mark: test, backend

#106 feature: adoption delete
  src/main/java/homes/banzzokee/domain/adoption/controller/AdoptionController.java
  src/main/java/homes/banzzokee/domain/adoption/elasticsearch/document/AdoptionDocument.java
  src/main/java/homes/banzzokee/domain/adoption/entity/Adoption.java
  src/main/java/homes/banzzokee/domain/adoption/service/AdoptionService.java
  src/test/java/homes/banzzokee/domain/adoption/controller/AdoptionControllerTest.java
  src/test/java/homes/banzzokee/domain/adoption/service/AdoptionServiceTest.java
Labels: :sparkles: feat, :white_check_mark: test, backend

#115 feature: search adoption
  src/main/java/homes/banzzokee/domain/adoption/controller/AdoptionController.java
  src/main/java/homes/banzzokee/domain/adoption/dto/AdoptionSearchRequest.java
  src/main/java/homes/banzzokee/domain/adoption/dto/AdoptionSearchResponse.java
  src/main/java/homes/banzzokee/domain/adoption/elasticsearch/dao/AdoptionSearchQueryRepository.java
  src/main/java/homes/banzzokee/domain/adoption/service/AdoptionService.java
  src/main/java/homes/banzzokee/global/security/config/SecurityConfig.java
  src/main/java/homes/banzzokee/global/validator/BreedValidator.java
  src/main/java/homes/banzzokee/global/validator/DogGenderValidator.java
  src/main/java/homes/banzzokee/global/validator/DogSizeValidator.java
  src/test/java/homes/banzzokee/domain/adoption/controller/AdoptionControllerTest.java
  src/test/java/homes/banzzokee/domain/adoption/service/AdoptionServiceTest.java
Labels: :sparkles: feat, :white_check_mark: test, backend

#117 feature: setup review
  src/main/java/homes/banzzokee/domain/adoption/dto/AdoptionDto.java
  src/main/java/homes/banzzokee/domain/adoption/dto/AdoptionResponse.java
  src/main/java/homes/banzzokee/domain/adoption/dto/AdoptionSearchResponse.java
  src/main/java/homes/banzzokee/domain/adoption/elasticsearch/document/AdoptionDocument.java
  src/main/java/homes/banzzokee/domain/adoption/entity/Adoption.java
  src/main/java/homes/banzzokee/domain/adoption/exception/CurrentStatusIsSameToChangeExcetion.java
  src/main/java/homes/banzzokee/domain/review/dao/ReviewRepository.java
  src/main/java/homes/banzzokee/domain/review/dto/ReviewDto.java
  src/main/java/homes/banzzokee/domain/review/dto/ReviewResponse.java
  src/main/java/homes/banzzokee/domain/review/elasticsearch/dao/ReviewDocumentRepository.java
  src/main/java/homes/banzzokee/domain/review/elasticsearch/document/ReviewDocument.java
  src/main/java/homes/banzzokee/domain/review/entity/Review.java
  src/main/java/homes/banzzokee/global/validator/DogGenderValidator.java
  src/main/resources/elasticsearch/review-mapping.json
  src/main/resources/elasticsearch/setting.json
  src/test/java/homes/banzzokee/domain/adoption/service/AdoptionServiceTest.java
Labels: :wrench: chore, backend

#121 feature: get review
  src/main/java/homes/banzzokee/domain/review/controller/ReviewController.java
  src/main/java/homes/banzzokee/domain/review/dto/ReviewResponse.java
  src/main/java/homes/banzzokee/domain/review/exception/ReviewNotFoundException.java
  src/main/java/homes/banzzokee/domain/review/service/ReviewService.java
  src/main/java/homes/banzzokee/global/error/ErrorCode.java
  src/test/java/homes/banzzokee/domain/review/controller/ReviewControllerTest.java
  src/test/java/homes/banzzokee/domain/review/service/ReviewServiceTest.java
Labels: :sparkles: feat, :white_check_mark: test, backend

#98 refactor: apply authentication principal
  src/main/java/homes/banzzokee/domain/notification/controller/NotificationController.java
  src/main/java/homes/banzzokee/domain/shelter/controller/ShelterController.java
  src/main/java/homes/banzzokee/domain/user/controller/UserController.java
  src/main/java/homes/banzzokee/global/error/AccessDeniedHandlerImpl.java
  src/main/java/homes/banzzokee/global/error/ExceptionHandlerFilter.java
  src/main/java/homes/banzzokee/global/security/UserDetailsImpl.java
  src/main/java/homes/banzzokee/global/security/config/SecurityConfig.java
  src/main/java/homes/banzzokee/global/security/jwt/JwtAuthenticationFilter.java
  src/main/resources/application.yml
  src/test/java/homes/banzzokee/domain/bookmark/service/BookmarkServiceTest.java
  src/test/java/homes/banzzokee/domain/notification/controller/NotificationControllerTest.java
  src/test/java/homes/banzzokee/domain/shelter/controller/ShelterControllerTest.java
  src/test/java/homes/banzzokee/domain/user/controller/UserControllerTest.java
  src/test/java/homes/banzzokee/global/security/WithMockCustomUser.java
  src/test/java/homes/banzzokee/global/util/MockDataUtil.java
  src/test/java/homes/banzzokee/global/util/MockMvcUtil.java
Labels: :recycle: refactor, :white_check_mark: test, backend

#107 refactor: stomp upgrade performance
  src/main/java/homes/banzzokee/domain/chat/controller/ChatMessageController.java
  src/main/java/homes/banzzokee/domain/chat/controller/MessageController.java
  src/main/java/homes/banzzokee/domain/chat/dto/SendChatDto.java
  src/main/java/homes/banzzokee/domain/chat/service/ChatMessageService.java
  src/main/java/homes/banzzokee/domain/room/controller/ChatRoomController.java
  src/main/java/homes/banzzokee/domain/room/entity/ChatRoom.java
  src/main/java/homes/banzzokee/domain/room/exception/RoomNotFoundException.java
  src/main/java/homes/banzzokee/domain/room/exception/SocketRoomNotFoundException.java
  src/main/java/homes/banzzokee/domain/room/service/ChatRoomService.java
  src/main/java/homes/banzzokee/global/config/stomp/StompWebSocketConfig.java
  src/main/java/homes/banzzokee/global/config/stomp/exception/SocketAccessTokenExpiredException.java
  src/main/java/homes/banzzokee/global/config/stomp/exception/SocketNoAuthorizedException.java
  src/main/java/homes/banzzokee/global/config/stomp/exception/SocketTokenInvalidException.java
  src/main/java/homes/banzzokee/global/config/stomp/handler/CustomHandshakeHandler.java
  src/main/java/homes/banzzokee/global/config/stomp/handler/StompErrorHandler.java
  src/main/java/homes/banzzokee/global/config/stomp/handler/StompPreHandler.java
  src/main/java/homes/banzzokee/global/config/stomp/principal/StompPrincipal.java
  src/main/java/homes/banzzokee/global/error/GlobalExceptionHandler.java
  src/main/java/homes/banzzokee/global/security/jwt/JwtTokenProvider.java
  src/test/java/homes/banzzokee/domain/chat/service/ChatMessageServiceTest.java
  src/test/java/homes/banzzokee/domain/room/controller/ChatRoomControllerTest.java
  src/test/java/homes/banzzokee/domain/room/service/ChatRoomServiceTest.java
Labels: :sparkles: feat, :white_check_mark: test, backend

#103 feature: signin oauth2
  src/main/java/homes/banzzokee/domain/auth/service/AuthService.java
  src/main/java/homes/banzzokee/global/error/ErrorCode.java
  src/main/java/homes/banzzokee/global/error/GlobalExceptionHandler.java
  src/main/java/homes/banzzokee/global/security/UserDetailsImpl.java
  src/main/java/homes/banzzokee/global/security/config/SecurityConfig.java
  src/main/java/homes/banzzokee/global/security/jwt/JwtAuthenticationFilter.java
  src/main/java/homes/banzzokee/global/security/jwt/JwtTokenProvider.java
  src/main/java/homes/banzzokee/global/security/oauth2/OAuth2UserInfo.java
  src/main/java/homes/banzzokee/global/security/oauth2/handler/OAuth2FailureHandler.java
  src/main/java/homes/banzzokee/global/security/oauth2/handler/OAuth2SuccessHandler.java
  src/main/java/homes/banzzokee/global/security/oauth2/service/OAuth2UserDetailsServiceImpl.java
  src/main/resources/application-oauth2.yml
  src/main/resources/application.yml
  src/test/java/homes/banzzokee/domain/auth/service/AuthServiceTest.java
  src/test/java/homes/banzzokee/domain/bookmark/service/BookmarkServiceTest.java
Labels: :sparkles: feat, backend

#141 feature: 본인 프로필 조회 추가
  src/main/java/homes/banzzokee/domain/user/controller/UserController.java
  src/test/java/homes/banzzokee/domain/user/controller/UserControllerTest.java
Labels: :sparkles: feat, :white_check_mark: test, backend

#145 chore: docker image build push and deploy to ec2
  .github/workflows/deploy.yml
  .gitignore
  docker/app/Dockerfile
  src/main/java/homes/banzzokee/global/config/property/PropertyConfig.java
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
  src/main/resources/application.yml
Labels: :bricks: infra, :wrench: chore, backend

#149 feature: signin oauth2
  src/main/java/homes/banzzokee/domain/user/dao/UserRepository.java
  src/main/java/homes/banzzokee/domain/user/entity/User.java
  src/main/java/homes/banzzokee/global/security/UserDetailsImpl.java
  src/main/java/homes/banzzokee/global/security/jwt/JwtAuthenticationFilter.java
  src/main/java/homes/banzzokee/global/security/oauth2/controller/OAuth2Controller.java
  src/main/java/homes/banzzokee/global/security/oauth2/dto/NicknameRequest.java
  src/main/java/homes/banzzokee/global/security/oauth2/handler/OAuth2SuccessHandler.java
  src/main/java/homes/banzzokee/global/security/oauth2/service/OAuth2UserDetailsServiceImpl.java
  src/main/java/homes/banzzokee/global/security/oauth2/service/Oauth2Service.java
  src/main/java/homes/banzzokee/global/util/redis/RedisService.java
Labels: :sparkles: feat, backend

#129 feature: put review
  src/main/java/homes/banzzokee/domain/review/controller/ReviewController.java
  src/main/java/homes/banzzokee/domain/review/dto/ReviewUpdateRequest.java
  src/main/java/homes/banzzokee/domain/review/elasticsearch/document/ReviewDocument.java
  src/main/java/homes/banzzokee/domain/review/entity/Review.java
  src/main/java/homes/banzzokee/domain/review/exception/ReviewDocumentNotFoundException.java
  src/main/java/homes/banzzokee/domain/review/service/ReviewService.java
  src/main/java/homes/banzzokee/global/error/ErrorCode.java
  src/main/java/homes/banzzokee/global/security/config/SecurityConfig.java
  src/test/java/homes/banzzokee/domain/review/controller/ReviewControllerTest.java
  src/test/java/homes/banzzokee/domain/review/service/ReviewServiceTest.java
Labels: :sparkles: feat, :white_check_mark: test, backend

#133 feature: get review list
  src/main/java/homes/banzzokee/domain/adoption/elasticsearch/dao/AdoptionSearchQueryRepository.java
  src/main/java/homes/banzzokee/domain/review/controller/ReviewController.java
  src/main/java/homes/banzzokee/domain/review/dto/ReviewSearchResponse.java
  src/main/java/homes/banzzokee/domain/review/elasticsearch/dao/ReviewDocumentRepository.java
  src/main/java/homes/banzzokee/domain/review/service/ReviewService.java
  src/test/java/homes/banzzokee/domain/review/controller/ReviewControllerTest.java
  src/test/java/homes/banzzokee/domain/review/service/ReviewServiceTest.java
Labels: :bug: bug, :sparkles: feat, :white_check_mark: test, backend

#143 feature: send review register notification
  src/main/java/homes/banzzokee/consumer/error/exception/ReviewNotFoundException.java
  src/main/java/homes/banzzokee/consumer/fcm/FcmNotificationConsumer.java
  src/main/java/homes/banzzokee/domain/adoption/service/AdoptionService.java
  src/main/java/homes/banzzokee/domain/notification/entity/Notification.java
  src/main/java/homes/banzzokee/domain/review/service/ReviewService.java
  src/main/java/homes/banzzokee/event/EntityEvent.java
  src/main/java/homes/banzzokee/event/dto/EntityStatusDto.java
  src/main/java/homes/banzzokee/event/type/AdoptionAction.java
  src/main/java/homes/banzzokee/event/type/EntityAction.java
  src/main/java/homes/banzzokee/infra/firebase/dto/TopicMessage.java
  src/test/java/homes/banzzokee/consumer/fcm/FcmNotificationConsumerTest.java
  src/test/java/homes/banzzokee/domain/adoption/service/AdoptionServiceTest.java
  src/test/java/homes/banzzokee/domain/review/service/ReviewServiceTest.java
Labels: :recycle: refactor, :sparkles: feat, :white_check_mark: test, backend

#139 feature: send adoption status changed notification
  src/main/java/homes/banzzokee/consumer/error/exception/ReviewNotFoundException.java
  src/main/java/homes/banzzokee/consumer/fcm/FcmAdoptionConsumer.java
  src/main/java/homes/banzzokee/consumer/fcm/FcmNotificationConsumer.java
  src/main/java/homes/banzzokee/consumer/fcm/FcmTokenAndTopicManagementConsumer.java
  src/main/java/homes/banzzokee/domain/adoption/service/AdoptionService.java
  src/main/java/homes/banzzokee/domain/bookmark/service/BookmarkService.java
  src/main/java/homes/banzzokee/domain/notification/entity/Notification.java
  src/main/java/homes/banzzokee/domain/review/service/ReviewService.java
  src/main/java/homes/banzzokee/event/AdoptionEvent.java
  src/main/java/homes/banzzokee/event/EntityEvent.java
  src/main/java/homes/banzzokee/event/FcmTopicStatusChangeEvent.java
  src/main/java/homes/banzzokee/event/dto/FcmTopicStatusDto.java
  src/main/java/homes/banzzokee/event/type/EntityAction.java
  src/main/java/homes/banzzokee/event/type/FcmTopicAction.java
  src/main/java/homes/banzzokee/global/config/rabbitmq/RabbitMqConfig.java
  src/main/java/homes/banzzokee/infra/firebase/dto/TopicMessage.java
  src/test/java/homes/banzzokee/consumer/fcm/FcmAdoptionConsumerTest.java
  src/test/java/homes/banzzokee/consumer/fcm/FcmNotificationConsumerTest.java
  src/test/java/homes/banzzokee/domain/adoption/service/AdoptionServiceTest.java
  src/test/java/homes/banzzokee/domain/bookmark/service/BookmarkServiceTest.java
  src/test/java/homes/banzzokee/domain/review/service/ReviewServiceTest.java
Labels: :sparkles: feat, :white_check_mark: test, backend

#135 feature: send adoption register notification
  src/main/java/homes/banzzokee/consumer/error/exception/AdoptionNotFoundException.java
  src/main/java/homes/banzzokee/consumer/error/exception/ReviewNotFoundException.java
  src/main/java/homes/banzzokee/consumer/fcm/FcmNotificationConsumer.java
  src/main/java/homes/banzzokee/consumer/fcm/FcmTokenAndTopicManagementConsumer.java
  src/main/java/homes/banzzokee/domain/adoption/entity/convertor/ImagesConvertor.java
  src/main/java/homes/banzzokee/domain/adoption/service/AdoptionService.java
  src/main/java/homes/banzzokee/domain/bookmark/service/BookmarkService.java
  src/main/java/homes/banzzokee/domain/notification/dao/FcmSubscriptionRepository.java
  src/main/java/homes/banzzokee/domain/notification/dao/NotificationRepository.java
  src/main/java/homes/banzzokee/domain/notification/dao/querydsl/CustomFcmSubscriptionRepository.java
  src/main/java/homes/banzzokee/domain/notification/dao/querydsl/CustomFcmSubscriptionRepositoryImpl.java
  src/main/java/homes/banzzokee/domain/notification/entity/Notification.java
  src/main/java/homes/banzzokee/domain/notification/entity/NotificationMessage.java
  src/main/java/homes/banzzokee/domain/notification/entity/NotificationReceiver.java
  src/main/java/homes/banzzokee/domain/review/service/ReviewService.java
  src/main/java/homes/banzzokee/event/EntityEvent.java
  src/main/java/homes/banzzokee/event/FcmTopicStatusChangeEvent.java
  src/main/java/homes/banzzokee/event/dto/EntityStatusDto.java
  src/main/java/homes/banzzokee/event/dto/FcmTopicStatusDto.java
  src/main/java/homes/banzzokee/event/type/EntityAction.java
  src/main/java/homes/banzzokee/event/type/FcmTopicAction.java
  src/main/java/homes/banzzokee/global/config/rabbitmq/RabbitMqConfig.java
  src/main/java/homes/banzzokee/global/security/config/SecurityConfig.java
  src/main/java/homes/banzzokee/infra/firebase/FcmService.java
  src/main/java/homes/banzzokee/infra/firebase/dto/TopicMessage.java
  src/main/java/homes/banzzokee/infra/firebase/impl/FcmServiceImpl.java
  src/test/java/homes/banzzokee/consumer/fcm/FcmNotificationConsumerTest.java
  src/test/java/homes/banzzokee/domain/adoption/service/AdoptionServiceTest.java
  src/test/java/homes/banzzokee/domain/bookmark/service/BookmarkServiceTest.java
  src/test/java/homes/banzzokee/domain/review/service/ReviewServiceTest.java
Labels: :sparkles: feat, :white_check_mark: test, backend

#162 fix: 사용자 패스워드 수정 encoder 적용
  src/main/java/homes/banzzokee/domain/user/service/UserService.java
  src/test/java/homes/banzzokee/domain/user/service/UserServiceTest.java
Labels: :ambulance: hotfix, :bug: bug, :sparkles: feat, :white_check_mark: test, backend

#150 feature: logout
  src/main/java/homes/banzzokee/domain/auth/controller/AuthController.java
  src/main/java/homes/banzzokee/domain/auth/service/AuthService.java
  src/main/java/homes/banzzokee/global/security/jwt/JwtAuthenticationFilter.java
  src/main/java/homes/banzzokee/global/security/jwt/JwtTokenProvider.java
  src/main/java/homes/banzzokee/global/security/oauth2/service/Oauth2Service.java
  src/main/java/homes/banzzokee/global/util/redis/RedisService.java
  src/test/java/homes/banzzokee/domain/auth/controller/AuthControllerTest.java
  src/test/java/homes/banzzokee/domain/auth/service/AuthServiceTest.java
Labels: :sparkles: feat, :white_check_mark: test, backend

#151 feature: token reissu
  src/main/java/homes/banzzokee/domain/auth/controller/AuthController.java
  src/main/java/homes/banzzokee/domain/auth/service/AuthService.java
  src/main/java/homes/banzzokee/global/util/redis/RedisService.java
  src/test/java/homes/banzzokee/domain/auth/controller/AuthControllerTest.java
  src/test/java/homes/banzzokee/domain/auth/service/AuthServiceTest.java
Labels: :sparkles: feat, :white_check_mark: test, backend

#163 feature: 사용자 프로필 조회 시 팔로우 여부 추가
  src/main/java/homes/banzzokee/domain/adoption/dto/AdoptionResponse.java
  src/main/java/homes/banzzokee/domain/user/controller/UserController.java
  src/main/java/homes/banzzokee/domain/user/dto/UserProfileDto.java
  src/main/java/homes/banzzokee/domain/user/service/UserService.java
  src/test/java/homes/banzzokee/domain/user/controller/UserControllerTest.java
  src/test/java/homes/banzzokee/domain/user/service/UserServiceTest.java
Labels: :ambulance: hotfix, :sparkles: feat, :white_check_mark: test, backend

#152 refactor: enum type
  src/main/java/homes/banzzokee/domain/adoption/controller/AdoptionController.java
  src/main/java/homes/banzzokee/domain/adoption/dto/AdoptionDto.java
  src/main/java/homes/banzzokee/domain/adoption/dto/AdoptionRegisterRequest.java
  src/main/java/homes/banzzokee/domain/adoption/dto/AdoptionResponse.java
  src/main/java/homes/banzzokee/domain/adoption/dto/AdoptionSearchRequest.java
  src/main/java/homes/banzzokee/domain/adoption/dto/AdoptionSearchResponse.java
  src/main/java/homes/banzzokee/domain/adoption/dto/AdoptionStatusChangeRequest.java
  src/main/java/homes/banzzokee/domain/adoption/dto/AdoptionUpdateRequest.java
  src/main/java/homes/banzzokee/domain/adoption/elasticsearch/dao/AdoptionSearchQueryRepository.java
  src/main/java/homes/banzzokee/domain/adoption/elasticsearch/document/AdoptionDocument.java
  src/main/java/homes/banzzokee/domain/adoption/service/AdoptionService.java
  src/main/java/homes/banzzokee/domain/review/controller/ReviewController.java
  src/main/java/homes/banzzokee/domain/review/elasticsearch/document/subclass/AdoptionDocumentVo.java
  src/main/java/homes/banzzokee/domain/type/AdoptionEnum.java
  src/main/java/homes/banzzokee/domain/type/AdoptionStatus.java
  src/main/java/homes/banzzokee/domain/type/BreedType.java
  src/main/java/homes/banzzokee/domain/type/DogGender.java
  src/main/java/homes/banzzokee/domain/type/DogSize.java
  src/main/java/homes/banzzokee/global/validator/annotation/BreedValid.java
  src/test/java/homes/banzzokee/domain/adoption/controller/AdoptionControllerTest.java
  src/test/java/homes/banzzokee/domain/adoption/service/AdoptionServiceTest.java
  src/test/java/homes/banzzokee/domain/bookmark/controller/BookmarkControllerTest.java
  src/test/java/homes/banzzokee/domain/review/service/ReviewServiceTest.java
  src/test/java/homes/banzzokee/domain/type/AdoptionStatusTest.java
  src/test/java/homes/banzzokee/domain/type/TestDto.java
Labels: :recycle: refactor, :white_check_mark: test, backend

#158 refactor: document schema
  src/main/java/homes/banzzokee/domain/adoption/dto/AdoptionDto.java
  src/main/java/homes/banzzokee/domain/adoption/dto/AdoptionSearchResponse.java
  src/main/java/homes/banzzokee/domain/adoption/elasticsearch/dao/AdoptionSearchQueryRepository.java
  src/main/java/homes/banzzokee/domain/adoption/elasticsearch/dao/AdoptionSearchRepository.java
  src/main/java/homes/banzzokee/domain/adoption/elasticsearch/document/AdoptionDocument.java
  src/main/java/homes/banzzokee/domain/adoption/elasticsearch/document/subclass/ReviewDocumentVo.java
  src/main/java/homes/banzzokee/domain/adoption/elasticsearch/document/subclass/ShelterDocumentVo.java
  src/main/java/homes/banzzokee/domain/adoption/elasticsearch/document/subclass/UserDocumentVo.java
  src/main/java/homes/banzzokee/domain/review/dto/ReviewSearchResponse.java
  src/main/java/homes/banzzokee/domain/review/elasticsearch/dao/ReviewDocumentRepository.java
  src/main/java/homes/banzzokee/domain/review/elasticsearch/document/ReviewDocument.java
  src/main/java/homes/banzzokee/domain/review/elasticsearch/document/subclass/AdoptionDocumentVo.java
  src/main/java/homes/banzzokee/domain/review/service/ReviewService.java
  src/main/resources/elasticsearch/adoption-mapping.json
  src/main/resources/elasticsearch/review-mapping.json
  src/test/java/homes/banzzokee/domain/adoption/service/AdoptionServiceTest.java
  src/test/java/homes/banzzokee/domain/bookmark/controller/BookmarkControllerTest.java
  src/test/java/homes/banzzokee/domain/review/service/ReviewServiceTest.java
Labels: :recycle: refactor, :white_check_mark: test, backend

#161 refactor: adoption response
  src/main/java/homes/banzzokee/domain/adoption/controller/AdoptionController.java
  src/main/java/homes/banzzokee/domain/adoption/dto/AdoptionResponse.java
  src/main/java/homes/banzzokee/domain/adoption/service/AdoptionService.java
  src/test/java/homes/banzzokee/domain/adoption/controller/AdoptionControllerTest.java
  src/test/java/homes/banzzokee/domain/adoption/service/AdoptionServiceTest.java
Labels: :recycle: refactor, :white_check_mark: test, backend

#165 feature: stomp external broker
  build.gradle
  docker/rabbitmq/rabbitmq-install.sh
  src/main/java/homes/banzzokee/consumer/fcm/ChatMessageNotificationConsumer.java
  src/main/java/homes/banzzokee/domain/chat/controller/MessageController.java
  src/main/java/homes/banzzokee/domain/room/service/ChatRoomService.java
  src/main/java/homes/banzzokee/global/config/stomp/StompWebSocketConfig.java
  src/main/java/homes/banzzokee/global/config/stomp/exception/SocketTokenRequiredException.java
  src/main/java/homes/banzzokee/global/config/stomp/handler/CustomHandshakeHandler.java
  src/main/java/homes/banzzokee/global/config/stomp/handler/StompErrorHandler.java
  src/main/java/homes/banzzokee/global/config/stomp/handler/StompPreHandler.java
  src/main/java/homes/banzzokee/global/error/GlobalExceptionHandler.java
  src/main/java/homes/banzzokee/global/error/exception/CustomException.java
  src/main/resources/application-prod.yml
Labels: :recycle: refactor, :sparkles: feat, backend

#166 refactor: adoption-list
  src/main/java/homes/banzzokee/domain/adoption/controller/AdoptionController.java
  src/main/java/homes/banzzokee/domain/adoption/elasticsearch/dao/AdoptionSearchQueryRepository.java
  src/main/java/homes/banzzokee/domain/adoption/service/AdoptionService.java
  src/test/java/homes/banzzokee/domain/adoption/controller/AdoptionControllerTest.java
  src/test/java/homes/banzzokee/domain/adoption/service/AdoptionServiceTest.java
Labels: :recycle: refactor, :white_check_mark: test, backend

#168 feature: notification api
  src/main/java/homes/banzzokee/domain/notification/controller/NotificationController.java
  src/main/java/homes/banzzokee/domain/notification/dao/NotificationRepository.java
  src/main/java/homes/banzzokee/domain/notification/dao/querydsl/CustomNotificationRepository.java
  src/main/java/homes/banzzokee/domain/notification/dao/querydsl/CustomNotificationRepositoryImpl.java
  src/main/java/homes/banzzokee/domain/notification/dto/NotificationDto.java
  src/main/java/homes/banzzokee/domain/notification/service/NotificationService.java
  src/test/java/homes/banzzokee/domain/notification/controller/NotificationControllerTest.java
  src/test/java/homes/banzzokee/domain/notification/service/NotificationServiceTest.java
Labels: :sparkles: feat, :white_check_mark: test, backend

#167 feature: get follow list
  src/main/java/homes/banzzokee/domain/adoption/dto/AdoptionDto.java
  src/main/java/homes/banzzokee/domain/bookmark/controller/BookmarkController.java
  src/main/java/homes/banzzokee/domain/bookmark/entity/Bookmark.java
  src/main/java/homes/banzzokee/domain/bookmark/service/BookmarkService.java
  src/main/java/homes/banzzokee/domain/user/controller/UserController.java
  src/main/java/homes/banzzokee/domain/user/dao/FollowRepository.java
  src/main/java/homes/banzzokee/domain/user/service/UserService.java
  src/test/java/homes/banzzokee/domain/bookmark/controller/BookmarkControllerTest.java
  src/test/java/homes/banzzokee/domain/user/controller/UserControllerTest.java
  src/test/java/homes/banzzokee/domain/user/service/UserServiceTest.java
Labels: :recycle: refactor, :sparkles: feat, :white_check_mark: test, backend

#170 refactor: 채팅방 생성, 조회 누락된 부분 코드 수정
  src/main/java/homes/banzzokee/domain/chat/service/ChatMessageService.java
  src/main/java/homes/banzzokee/domain/room/dao/ChatRoomRepository.java
  src/main/java/homes/banzzokee/domain/room/dto/ChatRoomDto.java
  src/main/java/homes/banzzokee/domain/room/dto/ChatShelterDto.java
  src/main/java/homes/banzzokee/domain/room/service/ChatRoomService.java
  src/main/java/homes/banzzokee/domain/shelter/dao/ShelterRepository.java
  src/main/java/homes/banzzokee/domain/shelter/exception/ShelterNotFoundException.java
  src/main/java/homes/banzzokee/domain/shelter/service/ShelterService.java
  src/main/java/homes/banzzokee/domain/type/MessageType.java
  src/main/java/homes/banzzokee/global/config/stomp/StompWebSocketConfig.java
  src/main/java/homes/banzzokee/global/config/stomp/handler/StompPreHandler.java
  src/test/java/homes/banzzokee/domain/chat/service/ChatMessageServiceTest.java
  src/test/java/homes/banzzokee/domain/room/service/ChatRoomServiceTest.java
  src/test/java/homes/banzzokee/domain/shelter/service/ShelterServiceTest.java
Labels: :recycle: refactor, :white_check_mark: test, backend

#171 refactor: signin oauth2
  src/main/java/homes/banzzokee/domain/auth/service/AuthService.java
  src/main/java/homes/banzzokee/global/error/CustomAuthenticationEntryPoint.java
  src/main/java/homes/banzzokee/global/error/ErrorCode.java
  src/main/java/homes/banzzokee/global/security/exception/AccessTokenBlackListedException.java
  src/main/java/homes/banzzokee/global/security/exception/AccessTokenRequiredException.java
  src/main/java/homes/banzzokee/global/security/exception/TokenRequiredException.java
  src/main/java/homes/banzzokee/global/security/jwt/JwtAuthenticationFilter.java
  src/main/java/homes/banzzokee/global/security/jwt/JwtTokenProvider.java
  src/main/java/homes/banzzokee/global/security/oauth2/handler/OAuth2FailureHandler.java
  src/main/java/homes/banzzokee/global/util/redis/RedisService.java
Labels: :bug: bug, :recycle: refactor, backend

#172 fix: internal error 발생 이슈 해결
  src/main/java/homes/banzzokee/global/security/jwt/JwtAuthenticationFilter.java
  src/main/java/homes/banzzokee/global/security/jwt/JwtTokenProvider.java
Labels: :ambulance: hotfix, :bug: bug, backend

#178 refactor: logout & reissueAccessToken API 수정
  src/main/java/homes/banzzokee/domain/auth/controller/AuthController.java
  src/main/java/homes/banzzokee/domain/auth/service/AuthService.java
  src/main/java/homes/banzzokee/global/security/exception/TokenRequiredException.java
  src/main/java/homes/banzzokee/global/security/jwt/JwtAuthenticationFilter.java
  src/test/java/homes/banzzokee/domain/auth/controller/AuthControllerTest.java
  src/test/java/homes/banzzokee/domain/auth/service/AuthServiceTest.java
Labels: :recycle: refactor, :white_check_mark: test, backend

#182 feature: 사용자 프로필 조회 시 보호소 정보에 위치 정보 추가
  src/main/java/homes/banzzokee/domain/shelter/dto/ShelterDto.java
Labels: :sparkles: feat, backend

#189 Feature/rabbitmq dlx dlq
  src/main/java/homes/banzzokee/consumer/aop/RabbitListenerLoggingAop.java
  src/main/java/homes/banzzokee/consumer/elasticsearch/SyncAdoptionToElasticSearchConsumer.java
  src/main/java/homes/banzzokee/consumer/elasticsearch/SyncReviewToElasticSearchConsumer.java
  src/main/java/homes/banzzokee/consumer/error/CustomErrorHandler.java
  src/main/java/homes/banzzokee/consumer/fcm/FcmNotificationConsumer.java
  src/main/java/homes/banzzokee/consumer/fcm/FcmTokenAndTopicManagementConsumer.java
  src/main/java/homes/banzzokee/domain/adoption/service/AdoptionService.java
  src/main/java/homes/banzzokee/domain/review/service/ReviewService.java
  src/main/java/homes/banzzokee/event/type/EntityAction.java
  src/main/java/homes/banzzokee/global/config/rabbitmq/Queue.java
  src/main/java/homes/banzzokee/global/config/rabbitmq/RabbitMqConfig.java
  src/test/java/homes/banzzokee/consumer/elasticsearch/SyncAdoptionToElasticSearchConsumerTest.java
  src/test/java/homes/banzzokee/consumer/elasticsearch/SyncReviewToElasticSearchConsumerTest.java
  src/test/java/homes/banzzokee/consumer/fcm/FcmNotificationConsumerTest.java
  src/test/java/homes/banzzokee/consumer/fcm/FcmTokenAndTopicManagementConsumerTest.java
  src/test/java/homes/banzzokee/domain/adoption/service/AdoptionServiceTest.java
  src/test/java/homes/banzzokee/domain/review/service/ReviewServiceTest.java
Labels: :zap: improve, backend

#191 feature: 푸시 알림 수정
  src/main/java/homes/banzzokee/consumer/fcm/ChatMessageNotificationConsumer.java
  src/main/java/homes/banzzokee/consumer/fcm/FcmNotificationConsumer.java
  src/main/java/homes/banzzokee/domain/notification/dao/querydsl/CustomNotificationRepositoryImpl.java
  src/main/java/homes/banzzokee/domain/notification/dto/NotificationDto.java
  src/main/java/homes/banzzokee/domain/notification/dto/serializer/StringToMapSerializer.java
  src/main/java/homes/banzzokee/domain/notification/entity/Notification.java
  src/main/java/homes/banzzokee/infra/firebase/dto/Message.java
  src/main/java/homes/banzzokee/infra/firebase/dto/MultiMessage.java
  src/main/java/homes/banzzokee/infra/firebase/dto/TopicMessage.java
  src/main/java/homes/banzzokee/infra/firebase/impl/FcmServiceImpl.java
  src/test/java/homes/banzzokee/consumer/fcm/FcmNotificationConsumerTest.java
  src/test/java/homes/banzzokee/domain/notification/controller/NotificationControllerTest.java
Labels: :recycle: refactor, :sparkles: feat, :zap: improve, backend

#194 chore: docker timezone 설정
  docker/app/Dockerfile
Labels: :ambulance: hotfix, :wrench: chore, backend

#193 feature: 채팅 알림 분양글 아이디 정보 추가
  src/main/java/homes/banzzokee/consumer/fcm/ChatMessageNotificationConsumer.java
Labels: :ambulance: hotfix, backend
